h2 {
    margin-bottom: 4%;
}

.paginicio{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10%;
}
.sobrenosotros{
    grid-column: 1 / 4;
    text-align: justify;
}.ubicacion {
    grid-column: 4 / 6;
}
.sobrenosotros p {
    margin-bottom: 5%;
}
iframe{
    width: 350px;
    height: 200px;
    border: none;
}
.mediosdepago{
    grid-column: 1 / 4;
}
.mediosdepago img {
    width: 500px;

}
.disponibilidad{
    grid-column: 4 / 6;
    
}
.fechas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    border: 2px solid rgb(154, 205, 50);
    border-radius: 2px;
    padding: 5%;
}
.ingreso{
    margin-bottom: 7%;
    display: flex;
    justify-content: center;
}
.boton{
    display: flex;
    justify-content: center;
}
.boton p{
    margin-top: 5%;
    padding: 2% 10%;
    display: inline-block;
    /* border-radius: 7px; */
    text-decoration: none;
    color: white;
    background: rgb(1,132,1);
    filter: brightness(0.99);
    /* background: radial-gradient(circle farthest-corner at center center, rgb(1,132,1) 0%, rgb(0,100,0) 100%);
    background: -webkit-radial-gradient(circle farthest-corner at center center, rgb(1,132,1) 0%, rgb(0,100,0) 100%);
    background: -moz-radial-gradient(circle farthest-corner at center center, rgb(1,132,1) 0%, rgb(0,100,0) 100%); */
}
.boton p:hover {
    cursor: pointer;
}